.gallery {
  color: #545269;
  margin: 8rem -0;  
}

.gallery h2 {
  font-size: 3.6rem;
  font-weight: 400;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 2rem 0;
  margin: 3rem 0;
}


.product {
  height: 30rem;
}


@media (max-width:1300px) {
  .product{
    height: 24rem;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 1rem;
    margin: 3rem 0;
    justify-content: space-between;
  }
  
}
@media (max-width:1000px) {
  .product{
    height: 25rem;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
  }
  
}
@media (max-width:550px) {

  .gallery {
    margin: 4rem -2rem;
  }

  .gallery h2 {
    margin-top: 5rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .product{
    height: 30rem;
  }
  
}


