nav {
 font-size: 1.6rem; 
 display: flex;
 flex-direction: column;
 padding: 1rem;
 padding-top: 3rem;
}

.nav__upper{
  display: flex;
  justify-content: space-between;
  z-index: 10;

}

.wrapper {
  display: flex;
  align-items: center;
}

.link {
  margin-right: 2rem;
  color: #545269;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;

}

.link:hover{
  color: #545269;
}

.logo__container {
  display: flex;
  justify-content: center;
  margin-top: -2rem;
}

.logo{
  height: 7rem;
}

.search {
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #545269;
  background-color: #FAF9F8;
  background-image: url("../imgs/search.png");
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: 3.5rem;
  background-size: 2rem;
  padding-bottom: 0.4rem;
  color: #545269;
  font-weight: 400;
  width: 30rem;
}

.search:focus {
  background-image: none;
  text-indent: 0;
  outline: none;
}

.search:active{
  border: none;
}

.search::placeholder{
  color: #545269;
  font-weight: 300;
}


.categories{
  display: flex;
  list-style: none;
  justify-content: center;
}

.categories__link{
  margin: 2rem 1rem;
  color: #545269;
  font-weight: 400;
  font-size: 1.8rem;
}

.categories__link a {
  text-decoration: none;
}

.categories__link a:hover {
  text-decoration: underline;
  color: inherit;
}

.categories__link a {
  color: inherit;
}

.icon{
  height: 2.4rem;
  margin-right: 0.8rem;
}

.badge__container {
  position: relative;
}

.badge{
  background-color: #6C9A8B;
  color: #FAF9F8;
  font-size: 1.2rem;
  position: absolute;
  left: 1.2rem;
  top: -1rem;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;

}
.menuIcon {
  display: none;
}

.mobile__title {
  display: none;
}

.mobile__arrow {
  display: none;
}

/* Phone Navbar */

@media (max-width:1000px) {
  nav {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 2rem 1rem;
    flex-wrap: wrap;
    position: relative;
  }

  .nav__upper{
    align-items: center;
    flex-direction: row-reverse;

  }

  .search{
    display: none;
  }

  .link{
    display: block;
  }

  .link__name {
    display: none;
  }
  
  .logo__container {
    margin: 0;
  }
  .logo{
    height: 4rem;
    margin-bottom: 1rem;
  }

  .icon{
    height: 2.8rem;
    margin-left: 0.5rem;
    margin-right: 0;
  }

  .mobile__title {
    display: block;
    font-weight: 700;
  }

  .mobile__arrow {
    height: 2rem;
    display: block;
  }

  .categories {
    flex-basis: 100%;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 85vw;
    position: absolute;
    z-index: 100;
    top:8rem;
    left: -100%;
    background-color: #FAF9F8;
    transition: all 0.4s ease-in;
    padding: 1rem;
    
  }

  
  .categories__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 2rem;
    font-size: 2.4rem; 
  
  }

  .categories__link:hover {
    background-color: #545269;
  }

  .categories__link:hover a{
    color: #FAF9F8;
  }

  .categories__overlay {
    background-color: hsla(245, 12%, 37%, 0.781);
    position: absolute;
    height: 90vh;
    width: 100vw;
    z-index: 99;
    top: 8rem;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .categories__overlay button {
    width: 6rem;
    height: 6rem;
    border-radius: 10rem;
    border: none;
    font-size: 3.6rem;
    font-weight: 300;
    color: #FAF9F8;
    background-color: transparent;
 

  }

  .categories__close {
    height: 3rem;
  }

  .menuIcon{
    display: block;
    width: 4rem;
    background-color: #FAF9F8;
    border: none;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }

  .menuIcon img {
    height: 3rem;
  }
  
}