
.shoppingBag {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

.shoppingBag .item:not(:last-child){
  margin-bottom: 1rem;
}

.item {
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  display: flex;
  box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.075);
}


.item__img img {
  height: 16rem;
}

.details {
  font-size: 1.6rem;
  color: #545269;
  margin-top: 1rem;
  margin-left: 1.5rem;
  width: 100%;
}

.details img {
  height: 2.5rem;
  align-self: flex-start;
}

.details__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details__content {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  align-items: center;
}

.details__content > * {
  width: 40%;
  margin: 0.6rem 0;
}

.details__content select {
  background-color: #F0EDED;
  border: none;
  width: 6rem;
  height: 3rem;
  color: #545269;
  text-indent: 0.5rem;
  border-radius: 3px;
}

.details select:focus {
  outline: #545269;
}

.details__price {
  width: 100%;
  margin: 1.5rem 0;
  font-size: 1.8rem;
  font-weight: 500;
}


.details h3 {
  font-size: 2rem;
  font-weight: 500;
  width: 80%;
}

/* Tablet */
@media (max-width:1000px) {

  .shoppingBag {
    width: 60%;
  }

  .item {
    flex-direction: column;
  }

  .item__img {
    display: flex;
    justify-content: space-between;
  }

  .item__img img {
    height: 16rem;
  }

  .item__img .removeIcon {
    height: 2rem;

  }

  .details {
    margin: 1rem 0;
  }

  .details__header h3 {
    font-size: 1.8rem;
    margin: 0;
  }

  .details__price {
    font-size: 1.8rem;
    margin: 1rem 0;
    font-weight: 400;
  }

  .details__content {
    font-size: 1.4rem;
  }

  .details__content > * {
    margin:3px 0;
  }
}